/* purgecss start ignore */
.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  line-height: 1;
  text-align: center;
  margin: 1rem 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.85);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.divider:before {
  background-position: right 1em top 50%;
}

.divider:after {
  background-position: left 1em top 50%;
}

.divider:after,
.divider:before {
  background-image: url(/img/divider.png);
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
}
/* purgecss end ignore */
